<ng-container *ngIf="toolDetail$ | async as details else unknownTool">
  <h1>{{ details["name"] }}</h1>
  <p> {{ details["description"] }} </p>
  <p>Source: <a [href]="details['source_url']" target="_blank">{{details["source_name"]}}</a></p>

  <app-toggle-header titleText="General Setup"
                     tooltip="Applied across all tools"
                     [open]="true"
                     [storageKey]="STORAGE_KEY+'generalSetup'">
    <form [formGroup]="generalSettingsForm" class="explanation-form">
      <mat-form-field appearance="fill" class="results">
        <mat-label>Process Images (max)</mat-label>
        <input matInput type="number" formControlName="results">
      </mat-form-field>

      <mat-form-field appearance="fill" class="threshold">
        <mat-label>Using threshold (min)</mat-label>
        <input matInput type="number" step="0.1" formControlName="threshold">
      </mat-form-field>

      <button mat-raised-button (click)="generalSettingsChanged()">Update</button>
    </form>
  </app-toggle-header>

  <ng-container *ngIf="false">
    <h2>Tool Specific Setup</h2>
  </ng-container>

  <h2>Explanations</h2>

  <div class="explanations" *ngIf="explained$ | async as explainedList else loadingExplanation">
    <mat-card class="image-card" *ngFor="let explained of explainedList">
      <mat-card-header>
        <mat-card-title>Class id: {{ explained["label_id"]}}</mat-card-title>
        <mat-card-subtitle>Probability: {{ explained["probability"] | number:'.2-2'}}</mat-card-subtitle>
      </mat-card-header>
      <img [src]="sanitizer.bypassSecurityTrustResourceUrl(explained['image'])" width="224" height="224">
    </mat-card>
    <mat-paginator *ngIf="false"
                   class="paginator"
                   [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
  <ng-template #loadingExplanation>
    <mat-spinner color="accent"></mat-spinner>
  </ng-template>

  <app-toggle-header [titleText]="'All probabilities'" [storageKey]="STORAGE_KEY+'allProbabilities'">
    <ng-container *ngIf="this.prediction$ | async as prediction else noPrediction">
      <ng-container *ngFor="let pred of prediction; let last = last">
        {{pred | number:'.2-2'}} {{last ? "" : ","}}
      </ng-container>
    </ng-container>
    <ng-template #noPrediction>Probabilities: loading ...</ng-template>
  </app-toggle-header>

</ng-container>

<ng-template #unknownTool>
  Unknown tool!
</ng-template>
